Source: ros-fuerte-libg2o
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), cmake,libsuitesparse-dev,ros-fuerte-catkin,libeigen3-dev,libgl1-mesa-dev,libglu1-mesa-dev
Homepage: https://openslam.informatik.uni-freiburg.de/data/svn/g2o/trunk/
Standards-Version: 3.9.2

Package: ros-fuerte-libg2o
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsuitesparse-dev,libeigen3-dev,libgl1-mesa-dev,libglu1-mesa-dev
Description: g2o SLAM library
